@font-face {
    font-family: 'rioGrande';
    src: url('fonts/rioGrande.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    margin: 0;
    background-image: url('img/desert.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    font-family: 'rioGrande', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 10px;
    position: relative;
    /* border: 8px solid black; */
}

#startButton {
    display: none;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0.4;
    width: 24%;
    max-width: 100%;
}

#fullScreenButton {
    position: absolute;
    bottom: 80px;
    right: 70px;
    cursor: pointer;
    background-color: rgb(213, 145, 60);
    color: black;
    border-radius: 8px;
    padding: 10px;
}

#fullScreenButton:hover {
    background-color: rgb(180, 112, 28);
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

    h1 {
        display: none;
     }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
        border-radius: 0;
    }
}